.marginTop-bottom{
margin-block: 15px;
}
.hideMod{
    display: none;
}
.showMod{
    display:block;
}
/* .mdl {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
z-index: 1;
  } */
  .ff{
    position: absolute;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  /* background-color: white; */
  }
  .llllink{
    text-decoration: none;
  }
  .fl{
    position:relative;
     top:5%;
  left:30%; 
  }