.imageHome {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  /* height: 100vh; */
  height: 100%;
  border: rgba(0, 255, 128, 0) solid 0.75px;
  background-image: url("../assets/Images/home4.png");
}

.imageAni {
  width: 80%;
  height: 70%;
}

.text {
  direction: rtl;
  display: flex;
  justify-content: space-between;
  margin-top: 16%;
  margin-right: 12%;
  width: 90vw;
}

.textLarge {
  font-size: 030.7px;
  width: 408px;
  height: 30px;
}

.ul {
  list-style: none;
  padding-right: 0.5px;
}

.ul li {
  padding-top: 15px;
  font-size: 75%;
}

.ul li:first-child {
  height: 30px;
  display: flex;
  align-items: center;
}

.Icon-border {
  border-right: green solid 8px;
  padding-right: 20px;
  border-radius: 5px;
  font-size: 15px;
}

.Icon {
  color: #12B428;
  padding-left: 15px;
}

#buttons-unity {
  font-family: "IRANSans-Medium-web";
  font-weight: 600;
  width: 145px;
  height: 44px;
  border-radius: 7px;
}

.button-entry {
  background-color: #12B428;
  border: #12B428 solid 2px;
  color: #FEFEFE;
  font-size: 10px;
}

.button-entry:hover {
  background-color: #FEFEFE;
  color: #12B428;
}

.button-KnowMore {
  background-color: #FEFEFE;
  border: #12B428 solid 2px;
  color: #12B428;
  margin-left: 32px;
  font-size: 10px;
}

.button-KnowMore:hover {
  background-color: #12B428;
  color: #FEFEFE;
}

#takhfifane-border {
  display: flex;
  justify-content: center;
  margin-top: 44px;
  width: 100px;
  height: 60px;

  border-bottom: #12B428 solid 4px;
  border-radius: 2px;
}

#line-Programmer {
  display: flex;
  justify-content: space-between;
  margin-inline: 5%;
  margin-bottom: 30px;
}

.text-programing {
  width: 115px;
  height: 40px;
  border-bottom: #12B428 solid 4px;
  border-radius: 2px;
  margin-left: 20px;
}

.text-more {
  text-decoration: none;
  color: #141414;
}

#CardProduct {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-inline: 4.1%;
  /* respansive */
}

@media only screen and (max-width:909px) {
  .imageAni {
    margin-top: 3%;
    /* margin-top: 5%; */
  }

  .textLarge {
    font-size: 20.7px;
    width: 358px;
  }

  #buttons-unity {
    width: 125px;
    height: 34px;
    border-radius: 7px;
  }
}

@media only screen and (max-width:840px) {
  .textLarge {
    font-size: 18.7px;
    width: 308px;
  }

  #buttons-unity {
    width: 105px;
  }

  .button-KnowMore {
    margin-left: 20px;
  }

}

@media only screen and (max-width:805px) {
  .textLarge {
    width: 280px;
  }
}

@media only screen and (max-width:762px) {
  .textLarge {
    font-size: 15.7px;
    width: 250px;
  }

  .Icon-border {
    font-size: 12px;
  }

  .ul li {
    padding-top: 10px;
    font-size: 9px;
  }
}

@media only screen and (max-width:627px) {
  .textLarge {
    font-size: 15.7px;
    width: 240px;
  }

  #buttons-unity {
    width: 80px;
  }

  .button-KnowMore {
    margin-left: 15px;
  }
}

@media only screen and (max-width:511px) {
  .text {
    display: grid;
    justify-content: center;
    margin-bottom: 10%;
  }

  .textLarge {
    margin-top: 60px;
    font-size: 20px;
    width: 280px;
    height: 20px;
  }

  #buttons-unity {
    font-weight: 600;
    width: 100px;
    height: 34px;
  }

  .imageAni {
    display: none;
  }
}