.container-search{
    width: 100%;
}
.text-rowOne-{
    padding-top: 176px;
    margin-right: 84px;
    direction: rtl;
    font-family:"IRANSans-Medium-web";
}
.text-h1-rowOne{
    border-bottom: 6px solid #12B428;
    border-radius: 3px;
    width: 100px;
}
.flex-inputs{
    direction: rtl;
    display: flex;
    justify-content: space-evenly;
}
.ranges{
    color: green;
    background-color: rgb(134, 223, 1);
}
.text-input{
    margin-top: 15px;
    border: 1px solid #72737465;
    border-radius: 5px;
    width:200px ;
    height: 52px;
    font-size: 20px;
}
.checkbox-input{
    /* border: 2px solid #45BFEC;
    border-radius: 10px;
    width:300px ;
    height: 64px; */
}
.btn-actions{
    margin-top: 15px;
    font-family:"IRANSans-Medium-web";
    border: 1px solid #72737465;
    border-radius: 10px;
    width:100px ;
    height: 34px;
    font-size: 13px;
    background-color: white;
}
.btn-actions:hover{
    background-color:#45BFEC ;
    color: white;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-inline: 80px;
    margin-block:90px;
}
.acar{
    margin-top: -20px;
}
/* ///////////////////Acardeon */

.btn-Acardeon{
    background-color: rgb(255, 255, 255);
    height:54px;
}
.btn-Acardeon {
    font-size: 24px;
    line-height: 1;
 }
 
 .progress{
    position:absolute;
     width:200px ;
     height: 50px;
  border: 1px solid #45BFEC;
background-color: rgb(248, 248, 248);
 }
 .lachak{
    border: solid #45BFEC;
  border-width: 15px 15px 0px 0;
  display: inline-block;
  -ms-transform: rotate(-45deg); 
  transform: rotate(-45deg);
  padding: 15px;
margin-inline: 40%;
margin-bottom: 40px;
z-index:-1;
     position: absolute;
 }
 .lachakFlex{
   /* width: 100px; 
     height: 20px; */
 }
 .progressBar{
    position: absolute;
     /* width:180px; */
     /* height:5px; */
     /* background-color: royalblue; */
     /* border-radius: 20px; */
     margin-block: 15px;
     margin-inline:25px;
 }
 /* ////progress bar componnent */
 .wrapperrr{
     width: 150px;
 }
 .labelll{
    font-size: 20px;
    color: green;
 }
 .barCompleted{
    background-color: rgb(7, 61, 80);
    width: 60%;
    border-radius: 20px;
    height: 20px;
 }
 
 @media only screen and (max-width:691px){
    .flex-inputs{
        display: flex;
        flex-wrap: wrap;
    }
    .btn-actions{
       margin-top: 30px;
       margin-right:8%;
       margin-left: 10%;
    }
    .btn-Acardeon{
        margin-bottom: 30px;
    }

 }