.container-message{
    /* box-sizing: border-box; */
    position: absolute;
    margin-inline: 5%;
    width: 90%;
    background-color: rgba(49, 48, 48, 0.918);
    height: 120px;
    top:0;
    left:0;
    text-align: center;
border-bottom-right-radius: 15px;
border-bottom-left-radius: 15px;
color: rgb(198, 218, 198);
font-size: 15px;
z-index: 1;
}
.icon-message-modal{
    color: rgb(7, 170, 7);
    font-size: 50px;
}
.mod{
 /* display: flex;
 justify-content: center;    */
 /* align-items: center; */
}
.mdl{
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 0;
    left: 0;
    /* right: 0;
    bottom: 0; */
    position: absolute;
    /* z-index: 1; */

} 
