.body-header{
    box-sizing:border-box;
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-between; 
    /* direction: rtl; */
   /* width: 1870px; */
   width: 98%;
    /* height: 113px; */
    height: 80px;
    margin-top: 1%;
    margin-left: 1%;
    background-image: linear-gradient(to right,#f1d7e7,#d5e0eb);
box-shadow: 0px 0px 20px grey;
/* right: 2px;
left: 2px; */
z-index: 1;
}
.header-right{
    direction: rtl;
display: flex;
align-items: center;
}
.image-brand{
    /* display: flex;
    align-items: center; */
    /* width: 151px; */
    width:101px;
    /* height: 107px; */
    height: 87px;
     margin-right: 24px; 
}
.ul-header{
     /* list-style: none;  */
     display: flex;
     font-weight:500;
}
.ul-header li{
    margin-left: 31px;
    margin-right: 31px;
    font-size: 13px;
}
.button-profile-signup{
    
     font-family: "IRANSans-Medium-web";
     font-weight:600;
    width: 150px;
    height: 42px;
    background-color: #45BFEC;
    border: #45BFEC solid 2px;
    border-radius: 10px;
     /* margin-right: 856px;
    margin-top:31px;  */
    color: #FEFEFE;
    cursor: pointer;
}
.button-profile-signup:hover{
    font-size: 20px;
    transition:1s;
}
.header-left{
     /* direction: ltr;  */
    display:flex; 
align-items: center;
margin-left: 24px;
}
.Icon-shopping{
    margin-inline: 23.75px;
    font-size: 20px;
    color: black;
}
.Icon-search{
    font-size: 20px;
    color: black;
}
#Link-li{
    text-decoration: none;
    color: black;
}
.icicic{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.counterShow{
    position:absolute;
    top: -17px;
    left: 30px;
    width: 15px;
    height: 15px;
    border-radius: 8px;
    color: #FEFEFE;
    background-color: rgba(255, 0, 0, 0.719);
    font-size: 8px;
    display: flex;
justify-content: center;    align-items: center;
}
.counterShowParent{
    position:relative;
}
.cSPTWO{
    left:37px;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>headerTwo */
.bodyTwo{
   /* width: 1310px; */
height: 80px;
margin:15px;
background-image: linear-gradient(to right,#f1d7e7,#d5e0eb);
box-shadow: 0px 0px 20px grey;
margin-bottom: 25px;
display:flex;
justify-content:space-between;
border-radius: 4px;
/* margin-top: 5px; */

}
.button-profile-signupTwo{
    font-family: "IRANSans-Medium-web";
     font-weight:600;
    width: 120px;
    height:38px;
    background-color: #45BFEC;
    border: #45BFEC solid 2px;
    border-radius: 5px;
    color: #FEFEFE;
    display: flex;
    align-items: center;
    padding-left: 15px;
}
.header-leftTwo{
    display:flex; 
    align-items: center;
    margin: 24px;
}
.Icon-shoppingTwo{
    margin-inline: 15px;
    font-size: 20px;
    padding-top: 14px;
    color: black;
}
.Icon-searchTwo{
font-size: 20px;
padding-top: 14px;
color: black;
}
.icon-persTwo{
    font-size: 17px;
    margin-left: 10px;
}
@media only screen and (max-width:841px){
   .ul-header li{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 10px;
}
.button-profile-signup,.button-profile-signupTwo{
   width: 120px;
   height: 27px;
   border-radius: 7px;
}
}
@media only screen and (max-width:615px){
   .ul-header li{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 8px;
}
.button-profile-signup,.button-profile-signupTwo{
   width: 120px;
   height: 27px;
   border-radius: 7px;
   font-size: 10px;
}
.button-profile-signup:hover{
    font-size: 12px;
    transition:1s;
}
.Icon-shopping{
    margin-bottom: 10px;
    margin-inline: 13.75px;
    font-size: 10px;
}
.Icon-search{
    font-size: 10px;
    margin-bottom: 10px;
}
.cSPTWO{
    left:20px;
}
}
@media only screen and (max-width:503px){
    .button-profile-signup,.button-profile-signupTwo{
       width: 59px;
       height: 29px;
       border-radius: 5px;
    }
    .image-brand{
        width:70px;
        height: 60px;
         margin-right: 10px; 
    }
    .header-left{
   margin-left: 10px;
   }
}

