/* *{
box-sizing: border-box;
margin: 0px;
padding: 0px;
width: 100vw;

} */
body{
  /* width: 100px; */
}
@font-face {
  font-family: "IRANSans-Medium-web";
  src: url("./screen/Home.css");
}

/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@media only screen and (max-width:600px){
  .col-s-1{width:8.33px;}
  .col-s-2{width:16.66px;}
  .col-s-3{width:25px;}
  .col-s-4{width:33.33px;}
  .col-s-5{width:41.66px;}
  .col-s-6{width:50px;}
  .col-s-7{width:58.33px;}
  .col-s-8{width:66.66px;}
  .col-s-9{width:75px;}
  .col-s-10{width:83.33px;}
  .col-s-11{width:91.66px;}
  .col-s-12{width:100px;}
}